<p>app-component works!</p>
<div class="ui container">
    <div class="ui secondary pointing menu">
        <a href="elements" class="item" routerLinkActive="active">Elements</a>          
        <a href="/collections" class="item" routerLinkActive="active" >Collections</a>
        <a href="/views" class="item" routerLinkActive="active" >Views</a>
        <a href="/mods" class="item" routerLinkActive="active" >Mods</a>
    </div>
</div>
<div class = "ui segment">
    <router-outlet ></router-outlet>
</div>